<html xmlns:th="http://www.thymeleaf.org" xmlns:x="http://www.w3.org/1999/html">
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;padding: 3px;">
        <form id="${table.entityPath}EditForm" method="post">
            <table class="grid">
                <input name="id" type="hidden" th:value="${${table.entityPath}.id}">
                #foreach($field in ${table.fields})#if (($velocityCount - 1) % 2 == 0 || $velocityCount == $!table.fields.size())<tr>
                #end    <td>${field.comment}</td>
                    #if ($field.propertyName.equals("status"))<x:select id="${table.entityPath}EditStatus" name="status" type="dbStatus" class="easyui-combobox" data-options="width:160,height:29,editable:false,panelHeight:'auto'"/>
                    #else<td><input name="${field.propertyName}" type="text" placeholder="请输入$!{field.comment}" class="easyui-validatebox" data-options="required:true" th:value="${${table.entityPath}.${field.propertyName}}"></td>
                #end#if ($velocityCount % 2 == 0 || $velocityCount == $!table.fields.size())</tr>
                #end#end</table>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('#${table.entityPath}EditForm').form({
            url : basePath + '/${table.entityPath}/edit',
            onSubmit : function() {
                progressLoad();
                var isValid = $(this).form('validate');
                if (!isValid) {
                    progressClose();
                }
                return isValid;
            },
            success : function(result) {
                progressClose();
                result = $.parseJSON(result);
                if (result.code === 1) {
                    //之所以能在这里调用到parent.$.modalDialog.openner_dataGrid这个对象，是因为list页面预定义好了
                    parent.$.modalDialog.openner_dataGrid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                } else {
                    var form = $('#${table.entityPath}EditForm');
                    parent.$.messager.alert('错误', result.msg, 'error');
                }
            }
        });

        $("#${table.entityPath}EditStatus").val('[[${${table.entityPath}.status}]]');
    });
</script>
